<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.2/phpunit.xsd"
	bootstrap="Core/phpunit.php"
	colors="true"
	processIsolation="true"
>
	<testsuites>
		<testsuite name="classes">
			<directory>Tests/Classes</directory>
		</testsuite>
		<testsuite name="services/factories">
			<directory>Tests/Services/Factories</directory>
		</testsuite>
		<testsuite name="services/helpers">
			<directory>Tests/Services/Helpers</directory>
		</testsuite>
		<testsuite name="services/managers">
			<directory>Tests/Services/Managers</directory>
		</testsuite>
		<testsuite name="services/renderers">
			<directory>Tests/Services/Renderers</directory>
		</testsuite>
	</testsuites>
</phpunit>
